baseline/
result_data/
weights/
env

data/*.hdf5 
data/*.mat 
data/Samsung_SNU*
data/Samsung+SNU*
data/output_bm3d/
data/*_dataset
data/tmp

denoising-fluorescence/
denoise_and_get_CD/segmenetation_img
denoise_and_get_CD/result_data
check_bottom&top_crop_image.ipynb
.ipynb_checkpoints

*.gif
*.hdf5
*.pyc
*.hdf5
*.png
*.npy
*.ipynb_checkpoints/
*.txt
*.csv
*.zip
*log*/*

neptune_setting.py
.neptune/
wandb_setting.py
wandb/
