baseline/
result_data/
weights/
env

data/*.hdf5 
data/*.mat 
data/Samsung_SNU*
data/Samsung+SNU*
data/output_bm3d/

denoise_and_get_CD/segmenetation_img
denoise_and_get_CD/result_data

.ipynb_checkpoints

*.hdf5
*.pyc
*.npy
*.ipynb_checkpoints/
*.txt
*.csv
*log*/*

neptune_setting.py
